<div class="container">
  <div class=`row`>
    <div class=`col-md-12`>
      <h1 id="course-and-enrollment-management">Course and Enrollment Management</h1>
      <h4>If you have any questions, you can connect with me: <a href="mailto:zma24@ncsu.edu">zma24@ncsu.edu</a></h4>
      <p></p>
      <h4>Repo link:
        <a href="https://github.com/ZhiyuanMa2017/Course-and-Enrollment-Management">https://github.com/ZhiyuanMa2017/Course-and-Enrollment-Management</a>
      </h4>
      <h2 id="log-in-as-an-admin-">Log in as an Admin:</h2>
      <ul>
        <h5>email: admin@ncsu.edu</h5>
        <h5>password: password</h5>
      </ul>
      <h2 id="various-features">Various features</h2>
      <ul>
        <h4>First, you should create new instructor or student accounts.<br>
          <br>
          When you log in as an admin, all operations including show all courses, create new course, edit instructors
          and students, enrollment managements will show after clicking the &#39;Admin Management&#39; button at the top
          middle of the screen. When filling any form, just follow the placeholer show on the website.<br>
          <br>
          When you log in as an instructor, all operations related to Courses and Enrollments will show after clicking
          the &#39;Course Management&#39; botton at the top middle of the screen. And log in as a student can do their
          jobs in the same way.</h4>
      </ul>

      <h2 id="handles-edge-case-scenarios">Handles edge-case scenarios</h2>
      <ul>
        <h4>When an invalid request was made, our web will pop up relative error messages and redirect to the previous
          page,
          just follow the instruction shown in the error messages to make your request valid.</h4>
      </ul>
      <h2 id="test-files">Test files</h2>
      <ul>
        <h5>
          <a href="https://github.com/ZhiyuanMa2017/Course-and-Enrollment-Management/tree/master/test/models/course_test.rb">Model
            test file</a></h5>
        <h5>
          <a href="https://github.com/ZhiyuanMa2017/Course-and-Enrollment-Management/tree/master/test/controllers/courses_controller_test.rb">Controller
            test file</a></h5>
      </ul>
    </div>
  </div>
</div>