<p style="color: green"><%= notice %></p>

<h1>Friendas</h1>

<div id="friendas">
  <% @friendas.each do |frienda| %>
    <%= render frienda %>
    <p>
      <%= link_to "Show this frienda", frienda %>
    </p>
  <% end %>
</div>

<%= link_to "New frienda", new_frienda_path %>
